@charset "UTF-8";

body {
	/*background-color:#164453;*/
	background-color: #ffffff;
	
}
#space {
	height:150px;
}
#corpo {
	margin-top: -25px 5px 0 30px;
	height:890px;
    background-color: #ffffff;
    
}

#grupo {
	padding: 2%;
	min-width:100%;
	min-height:935px;
	background-color:#001b2e;
	margin: -20px -24px 0 -10px ;
}

#cAlbum {
	padding: 2%;
	margin: 20px ;
	min-width:65%;
	min-height: 50em;
	justify-items: center;
	text-align: center;
	border: none;
	overflow: hidden;
	background-color:rgba(70,130,180,.4);
	display: block;
	float: right;
}


 menu {
	position:fixed;
	
	min-width: 10%;
	min-height: 25%;
	 display: block;
	float: right;
	padding: 2%;
	background-color: rgba(255,190,205,.4);
}
menu ul {
	color: (255,255,255,.6);
	margin: 9% -13%;
}
#lateral li {
	text-align: center;
}
