@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body {

	background-color:#001b2e;
	
}
#space {
	background-color:#001b2e;
	height:150px;
}

#grid {
	width: 95%;
  }
#corpo {
	margin-top: -25px;
	height:890px;
    background-color:#001b2e;
    
}

#grupo {
	padding: 1%;
	min-width:100%;
	min-height:935px;
	background-color:#001b2e;
	margin: -20px 0px 0px  0px ;
}

#cAlbum {
	padding: 2%;
	margin: 20px ;
	min-width:69%;
	min-height: 50em;
	justify-items: center;
	text-align: center;
	border: none;
	overflow: hidden;
	background-color:rgba(70,130,180,.4);
	display: block;
	float: right;
}


#lateral menu {
	position:fixed;
	min-width: 10%;
	min-height: 25%;
	 display: block;
	float: right;
	padding: 2%;
	margin-top: 22px;
	background-color: rgba(255,190,205,.4);/*Teste*/
	
}
menu ul {
	color: (255,255,255,.6);
	font-size: 13pt;
}
#lateral li {
	text-align: left;
}
#lateral ul {
	list-style: none;
}

#lateral a {
	
	background-color:red;
	display: block;
	padding: 15px 5px;
	color : rgba(184,134,11,.9);
	transition: 1s;
	text-decoration: none;
}
 #lateral a:hover{
	
	 background-color:rgba(70,130,180);
	 color:#ffffff;
 }

 .footer{
	background-color: #112b41;
	color:#FFFFFF;
	text-align: center;
	padding: 15px;
 }
